@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Quorova/QurovaDEMO-SemiBold-BF67a5c637bcd0b.otf') format('woff2');
}
.nav-items{
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
list-style: none;   
}

.nav-icons, .middle-nav {
  display: flex;
  justify-content: right;
  height: 100%;
  list-style: none; 
} 